<template>
  <q-dialog v-model="visibility"  position="top">
    <q-card flat bordered style="height: 680px !important; width: 600px !important;" >
      <q-card-section style="padding-bottom: 0;">
        <div class="row no-wrap">
          <div class="col">
            <div class="text-h6 text-center">Se Requiere Autorización</div>
          </div>
        </div>
      </q-card-section>
      <q-form v-on:submit="onOKClick"  >
        <q-card-section >
          <div class="row  no-wrap q-ml-xl q-mr-xl">
            <div v-if="this.user" class="col-5">
              <q-input
                label="Usuario"
                required
                disable
                class="q-pb-md"
                v-model="user.name"
              />
              <q-input
                label="Sucursal"
                required
                disable
                class="q-pb-md"
                v-model="user.workspace.sucursal.nombre"
              />
              <q-input
                label="Caja"
                required
                disable
                class="q-pb-md"
                v-model="user.workspace.caja.descripcion"
              />

            </div>
            <div class="col-2"></div>
            <div class="col-5">
              <q-input
                label="Código de Autorización "
                required
                hide-hint
                class="q-pb-md"
                autofocus
                v-model="auth_code.codigo"
              />
              <q-input
                label="Comentario"
                required
                type="textarea"
                rows="5"
                class="q-pb-md"
                v-model="auth_code.comentario"
              />
            </div>
          </div>
          <div class="row  text-center justify-center q-mt-md">
            <q-uploader
              color="negative"
              :url="`${this.$auth.baseURL}/images/upload`"
              @uploaded ="uploadPhoto"
              label="Adjuntar Imagen"
              :max-files="1"
              no-thumbnails
              auto-upload
              @uploading="()=>this.isUploading=true"
              accept=".jpg, image/*"
              :headers="[
                {name: 'Authorization', value: Auth },
                {name: 'accept', value: 'image/jpg'}
                ]"
            />
          </div>
          <div class="row block">
            <q-input
              label="Total"
              hint="* Cantidad que se sumará a la caja, si retirara dinero use número negativo"
              required
              hide-hint
              type="number"
              class="q-mb-xs"
              v-model.number="auth_code.cantidad"
            />
            <q-select
              label="Motivo Movimiento"
              required
              hide-hint
              map-options
              v-model="auth_code.motivo_movimiento"
              option-label="motivo"
              :options="motivos_movimiento"
              class="q-mb-xs"
            />
            <q-toggle
              dense
              v-model="auto_operator"
              label="Usar operador automatico"
            />
          </div>
        </q-card-section>
        <q-card-actions class="justify-center q-mb-lg">
          <q-btn
          type="submit"
          color="negative"
          label="Autorizar"
          no-caps
          />
          <q-btn
            color="primary"
            label="Cancelar"
            no-caps
            v-close-popup
            outline
            @click="onCancelClick"
          />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>
<script>
export default {
   name: 'AuthorizationPopUp',
  data () {
    return {
      isUploading:false,
      Auth:undefined,
      user:undefined,
      auto_operator:true,
      auth_code:{
        codigo:undefined,
        comentario:"",
        imagen:"",
        cantidad:0,
        motivo_movimiento:undefined,
      },
    }
  },
  watch:{

    payload:{
      handler(){
        if(this.payload.data){
          this.auth_code.cantidad =this.payload.data.total;
        }
      } ,deep:true
    },
    auto_operator:{
      handler(){
        this.operatorPriceChange();
      },
      deep:true
    },
    auth_code: {
       handler(){
         this.operatorPriceChange();
       },deep:true
    }
  },
  computed:{
    visibility:{
      get(){
        return this.$store.state.main.authCodesForm.show;
      },
      set(val){
        this.$store.commit('main/ShowAuthCodesForm',val)
      }
    },
    motivos_movimiento: {
      get(){
        return this.$store.state.main.authCodesForm.payload.motivo_movimiento;
      }
    },
    payload:{
      get(){
        return this.$store.state.main.authCodesForm.payload;
      }
    }
  },
   mounted() {
     this.Auth = this.$q.localStorage.getItem('access_token');
     this.user = this.$q.localStorage.getItem('user');
  },
  methods:{
     operatorPriceChange(){
       if(this.auth_code.motivo_movimiento){
         if(this.auth_code.motivo_movimiento.operador==='-'&&this.auto_operator){
           if(this.auth_code.cantidad>0){
             this.auth_code.cantidad =this.auth_code.cantidad*-1
           }
         }else {
           this.auth_code.cantidad = this.$store.state.main.authCodesForm.payload.data.total;
         }
       }
     },
    async uploadPhoto(info){
      this.auth_code.imagen= await JSON.parse(info.xhr.response).imagen;
    },
  async onOKClick(e){

      await this.payload.method(e,{auth_code:this.auth_code,...this.payload.data});
      this.visibility=false;
    },
    onCancelClick(){
      this.isUploading = false;
      this.$store.commit('main/AuthCodesReset');
      this.auto_operator = true;
      this.auth_code.motivo_movimiento = undefined;
    }
  }
}
</script>
