<template>
  <q-item clickable >
    <div class="row items-center no-wrap"  v-if="isLoading">
      <div class="col text-center">
        <q-spinner
          color="primary"
          size="2em"
          :thickness="2"
        />
      </div>
    </div>
    <q-item-section avatar v-else>
      <q-icon color="amber" name="vpn_key" />
    </q-item-section>
    <q-item-section  >
      <q-item-label @click="getAuthCode">{{isLoading?'Generando Codigo...':codes?'Generar otro código':'Generar código de autorización'}}</q-item-label>
      <transition
        enter-active-class="animated fadeIn"
        leave-active-class="animated fadeOut"
      >
        <q-item-label class="text-dark" overline @click="copy" v-if="codes" >{{codes.codigo}} <q-icon color="amber" size="25px" name="content_copy" /></q-item-label>
      </transition>
    </q-item-section>
  </q-item>

</template>

<script>
import { copyToClipboard } from 'quasar'
export default {

  name: "AuthorizationCodes",
  data(){
    return{
      authCodes:undefined,
      isLoading:false
    }
  },
  computed:{
    codes:{
      get(){
        return this.authCodes;
      },
    }
  },

  methods:{
    copy(){
      copyToClipboard(this.codes.codigo).
      then(()=>{
        this.$q.notify({message:'Código Copiado al Portapapeles!'})
      });
    },
    async getAuthCode(){
      try{
        this.isLoading=true;
        const req= await this.$store.dispatch('main/Authxios',{
          url:"/auth-code/create",
          showLoading:false,
          method:'get'});
        this.authCodes=req.data;
        if(this.$route.name==='code.index'){
          this.$store.commit('main/ReloadMainTable',true);
        }
        this.isLoading=false;
      } catch (e) {
        this.$q.notify({
          message: e.response.data.message,
          position: 'center',
          color: 'danger',
          timeout: 3000
        });

        this.isLoading=false;
      }
    }
  }
}
</script>

<style scoped>

</style>
