<template>
  <q-select
    v-model="selected"
    use-input
    input-debounce="150"
    :label="label"
    :multiple="multiple"
    use-chips
    :option-label="this.searchField"
    emit-value
    map-options
    new-value-mode="add"
    @clear="()=>{this.$emit('clear')}"
    @new-value="(val,done)=>{
    if (val.length > 0) {
    if (!serverOptions.includes(val)) {
      serverOptions.push({[this.searchField]:val,id:0})
      }
    done({[this.searchField]:val,id:0}, 'toggle')
    }
      this.$emit('new-value',val)}"
    :loading="loading"
    :options="serverOptions"
    @filter="filterFn"
  >
    <template v-slot:no-option>
      <q-item>
        <q-item-section class="text-grey">
          No hay resultados
        </q-item-section>
      </q-item>
    </template>
  </q-select>
</template>

<script>
export default {
   name: 'AutoComplete',
  props:{
     url:{
       type:String,
       required:true
     },
    newValue:{
       type:Boolean,
       required:false,
      default:false
    },
    selectedItem:{
      type:[Array,Object],
      required: false,
      default:undefined
    },
    label:String,
    multiple:{
       type:Boolean,
      default:false,
    },
    searchField:{
       type:String,
      default:''
    }
  },
  data () {
    return {
      selected:undefined,
      serverOptions:[],
      loading:false
    }
  },
  watch:{
    selected:{
     handler(){
       this.$emit('selected',this.selected);
     },deep:true
    }
  },
  methods:{
     findInServer(search){
       let resp=undefined;
       this.loading=true;
       this.$store.dispatch('main/Authxios',{
         url:this.url,
         data:{...search},
         showLoading:false,
         method:'get'}).then((response)=>{
        if(response.data){
          this.serverOptions = response.data
        }
       }).catch((e)=> {
         this.$q.dialog({
           title: 'Error',
           message: e.message()
         }).onOk(() => {
           this.serverOptions= [];
         });
       });
       this.loading=false;
       return resp;
     },
    filterFn (val, update, abort){
      // call abort() at any time if you can't retrieve data somehow

      setTimeout(() => {
        update(async () => {
          if (val === '') {
            this.options = this.serverOptions
          }
          else {
            const needle = val.toLowerCase();
            this.options = await this.findInServer({field:this.searchField,value:needle});
          }
        })
      }, 100)
    }
  },created() {

    if(this.selectedItem!==undefined&&this.selectedItem!==null){
      if(Array.isArray(this.selectedItem)){
        if(this.selectedItem.length>0){
          this.selected=[]
          this.selectedItem.map((e)=>{
            if(e[this.searchField]!==undefined){
              this.selected.push(e);
            }
          })
        }
      }
      if(this.selectedItem[this.searchField]!==undefined){
        this.selected = Object.assign({}, this.selectedItem);

      }
      this.$emit('selected',this.selectedItem);
    }
     this.findInServer({field:this.searchField,value:''});
  }
}
</script>
