<template>
  <q-item clickable @click="getCurrency">
    <div class="row items-center no-wrap"  v-if="isLoading">
      <div class="col text-center">
        <q-spinner
          color="primary"
          size="2em"
          :thickness="2"
        />
      </div>
    </div>
    <q-item-section avatar v-else>
      <q-icon color="amber" name="attach_money" />
    </q-item-section>
    <q-item-section >
      <q-item-label>Cantidad en Caja</q-item-label>
      <transition
        enter-active-class="animated fadeIn"
        leave-active-class="animated fadeOut"
      >
      <q-item-label v-if="caja!==undefined" caption>${{currency.cantidad}}</q-item-label>
      </transition>
    </q-item-section>
  </q-item>

</template>

<script>
export default {

  name: "currency",
  data(){
    return{
      caja:undefined,
      isLoading:false
    }
  },
  computed:{
    currency:{
      get(){
        return this.caja;
      },
    }
  },
  async created() {
    this.getCurrency();
  },
  methods:{
   async getCurrency(){
     try{
       this.isLoading=true;
       const req= await this.$store.dispatch('main/Authxios',{
         url:"/caja/currency",
         showLoading:false,
         method:'get'});
       this.caja=req.data;
       this.isLoading=false;
     }catch (e) {
      this.$q.notify({
        message: 'Algo fallo al consultar el saldo de la caja',
        position: 'center',
        color: 'danger',
        timeout: 2000
      });
       this.isLoading=false;
     }

    }
  }
}
</script>

<style scoped>

</style>
