<template>
  <q-dialog v-model="visibility"  position="top">
    <q-card flat bordered class="my-card bg-grey-1">
      <q-card-section>
        <div class="row items-center no-wrap  ">
          <div class=" col  ">
            <div class="text-h6">Ingrese los datos solicitados</div>
          </div>
        </div>
      </q-card-section>
      <q-form v-on:submit="onOKClick">
        <q-card-section>
        <div class="col items-center no-wrap">
            <div class="  q-gutter-md" v-for="(atrib,k) in this.form"
                 :key="k" >
              <q-input
                :name="atrib.field"
                v-if="atrib.type==='text'||atrib.type==='number'||atrib.type==='textarea' "
                :label="atrib.label"
                v-model="formData[atrib.field]"
                :required="atrib.required"
                :type="atrib.type"
                autocomplete="off"
                />
              <q-select  autocomplete="off" :key="k" v-bind::value="atrib.value" emit-value v-if="atrib.type==='select'" :options="atrib.value" v-model="formData[atrib.field]" >
              </q-select>
              <q-toggle
                v-bind:value="atrib.value"
                v-if="atrib.type==='toggle'"
                v-model="formData[atrib.field]"
                :label="atrib.label"
              />
              <auto-complete @selected="(val)=>{formData[atrib.field]=val;}" autocomplete="off" v-if="atrib.type==='autocomplete'" :url="atrib.url" :label="atrib.label" :multiple="atrib.multiple" :search-field="atrib.searchField" />
            </div>

        </div>
      </q-card-section>
        <q-card-actions class="justify-center">
          <q-btn :disable="!ready" color="primary" flat type="submit" >Ok</q-btn>
          <q-btn color="primary" flat @click="onCancelClick">Cancelar</q-btn>

        </q-card-actions>
      </q-form>

    </q-card>

  </q-dialog>


</template>

<script>
  import AutoComplete from "./AutoComplete";
  export default {
    name: "mainform",
    components: {
      AutoComplete
    },
    data() {
      return {
        form:[],
        show:false,
        formData:{},
        isSettedValues:false,
      }
    },
    watch:{

      mode:{
        handler(val){
          let req=undefined;
          if(val==="create"&&this.visibility) {
            req= this.$store.dispatch('main/Authxios',{
              url:this.$route.fullPath+val,
              showLoading:true,
              method:'get'})
          }
          if(val==='edit'&&this.visibility){
            if(this.id===undefined){
              console.log("ERROR");
            }
            req=  this.$store.dispatch('main/Authxios',{
              url:this.$route.fullPath+this.id+'/'+val,
              method:'get'})
          }
          if(req!==undefined){
            req.then((resp)=>{
              if(resp.status===200){
                this.form=Array.from(resp.data);
                this.setValuesToForm();
              }else{
                this.$q.dialog({
                  title: 'Error',
                  message: 'Ocurrio un error al obtener los datos'
                }).onOk(() => {
                })
              }

            })
          }
        },deep:true
      }
      },
    computed: {
      ready:{
        get(){
          const requireds=this.form.filter(x=>x.required===true);
          const ready=requireds.filter(x=>this.formData[x.fields]===undefined)
          return ready.length===0;
        }
      },
      mode:{
        get(){
          return this.$store.state.main.MainForm.payload.mode;
        },
        set(val){
          this.$store.commit('main/MainForm',{payload:{mode:val,id:0},show:this.visibility})
        }
      },
      id:{
        get(){
          return this.$store.state.main.MainForm.payload.id;
        },
        set(val){
          this.$store.commit('main/MainForm',{payload:{mode:this.mode,id:val},show:this.visibility})
        }
      },
      visibility:{
        get(){
         return this.$store.state.main.MainForm.show;
        },
        set(val){
          this.$store.commit('main/MainForm',{payload:{},show:val})
        }
      }
      },
    beforeDestroy() {
      this.form=[];
    },
    methods: {
      setValuesToForm(){
        this.form.map((formElement)=>{
          this.$set(this.formData,formElement.field, formElement.value);
        });
      },
      onCancelClick(){
        this.visibility=false;
      },
      onOKClick(e){
        e.preventDefault();
        if(this.mode==="create"&&this.visibility) {
          this.$store.dispatch('main/Authxios',{
            showLoading:true,
            method:'post',
            data:{...this.formData}
          }).then((resp)=>{

            if(resp.status===200){
              this.visibility=false;

            }else{
              console.log("error getting form")
            }

          });
        }
        if(this.mode==="edit"&&this.visibility) {
          this.$store.dispatch('main/Authxios',{
            url:"",
            showLoading:true,
            method:'post',
            data:{...this.formData}
          }).then((resp)=>{
            if(resp.status===200){
              this.form=Array.from(resp.data);
            }else{
              console.log("error getting form")
            }

          });
        }
        this.$store.commit('main/ReloadMainTable',true);
      }
    },

  }
</script>
