<template>
  <q-card flat  >
    <q-card-section class="text-primary  ">
      <div class="justify-between row">
        <div class="col text-left ">
          <q-btn flat icon="refresh" size="20px" @click="()=>this.$store.commit('main/ReloadMainTable',true)" />
        </div>
        <div class="col text-right">
          <q-btn flat icon="help" size="20px" @click="showHelp=!showHelp" />
        </div>
      </div>
      <q-slide-transition >
        <div   v-show="showHelp"  class="row text-bold text-center  justify-around">
          <div class="col">Presione F2 para crear</div>
          <div class="col">Presione F4 para editar</div>
          <div class="col">Presione SUPR para eliminar</div>
        </div>
      </q-slide-transition>


    </q-card-section>
    <q-card-section class="q-pa-md">

      <q-table
        :title="title"
        :data.sync="data"
        :columns.sync="columns"
        row-key="id"
        :grid="mode==='cards'"
        :pagination.sync="pagination"
        :loading="loading"
        :filter="filter"
        selection="single"
        :selected.sync="selectedItems"
        @request="onRequest"
        :selected-rows-label="(el)=>{return `${el} Elemento seleccionado`}"
        binary-state-sort

      >
        <template  v-if="!hideheader" v-slot:top-right >

            <q-select  clearable :style="{width:field?'':'10vw'}"  color="primary" v-model="field" :options="searchOptions" label="Buscar por"/>
            <q-input v-if="field" clearable @clear="loadData" borderless dense debounce="300" v-model="filter" placeholder="Buscar">
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>


        </template>

        <template v-if="mode==='table'" v-slot:body="props">
          <q-tr :props="props">

            <q-td auto-width>

              <q-checkbox size="sm" name="selected" v-model="props.selected" />
            </q-td>
            <q-td
              v-for="col in props.cols"
              :key="col.name"
              :props="props"

            >
              <a v-if="typeof col.value!=='object'&&col.type===undefined"
                 :style="customStyle(props,col)" >
                {{ typeof col.value==='boolean'?col.value?"si":"no":col.value}}
              </a>
              <a v-else >
                <q-btn size="sm"  v-if="col.type==='image'" :disable="props.row[col.name]===null" color="secondary" round dense @click="showImage(props,col)" icon="image" />
                <div style="height: 20px" v-if="col.type==='color'" :style="{backgroundColor:col.value}" />
                <q-btn size="sm"  v-if="detailedRows&& col.value!=null"  color="secondary" round dense @click="expands(props,col)" :icon="props.expand ? 'remove' : 'add'" />
              </a>

            </q-td>
          </q-tr>
          <q-tr  v-show="props.expand" :props="props">
            <q-td colspan="100%" >
              <!-- begins sub table -->
              <main-table v-bind:regID="regid" :enabled-actions="SubTableActions" v-if="props.expand" :table-mode="SubTableMode" :key="props.id" :hide-header="true" :display-load-state-server="false" :title="detailedName" :detailed="subDetailed" :route="subRouteValue"/>
              <!-- end sub table -->
            </q-td>
          </q-tr>
        </template>
        <template v-if="mode==='cards'" v-slot:item="props">
          <div
            class="q-pa-xs col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-style-transition"
            :style="props.selected ? 'transform: scale(0.95);' : ''"
          >
            <q-card :class="props.selected ? 'bg-grey-2' : ''">
              <q-card-section>
                <q-checkbox dense v-model="props.selected" :label="props.row.name" />
              </q-card-section>
              <q-separator />
              <q-list dense>
                <q-item v-for="col in props.cols.filter(col => col.name !== 'desc')" :key="col.name">
                  <q-item-section>
                    <q-item-label>{{ col.label }}</q-item-label>
                  </q-item-section>
                  <q-item-section side>
                    <q-item-label caption>{{ col.value }}</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-card>
          </div>
        </template>

      </q-table>
    </q-card-section>
    <q-card-actions v-if="Actions.delete||Actions.edit||Actions.create">
      <q-card-actions  align="center">
        <q-btn no-caps v-if="Actions.create" color="primary" outline :disabled="this.selectedItems.length>=1" v-on:click="showForm({mode:'create',data:selectedItems[0]})">Crear</q-btn>
        <q-btn no-caps v-if="Actions.edit" color="primary" outline :disabled="this.selectedItems.length<=0" v-on:click="showForm({mode:'edit',data:selectedItems[0]})" >Editar</q-btn>
        <q-btn no-caps v-if="Actions.delete" color="negative" outline :disabled="this.selectedItems.length<=0" v-on:click="deleteRow(selectedItems[0],$event)" >Eliminar</q-btn>
      </q-card-actions>
    </q-card-actions>
    <sub-form :visibility="mainFormVisibility" :mode="Formmode" :id="id" :route="formroute" @visible="setVisible" />
    <AuthorizationPopUp/>
  </q-card>


</template>

<script>
  import {mapActions, mapState} from "vuex";
  import MainTable from "./MainTable";
  import AuthorizationPopUp from "components/AuthorizationPopUp";
  export default {
    props:["title","detailed",'route','regID','displayLoadStateServer','hideHeader','tableMode','enabledActions','enabledSubTableActions','subTableMode'],
    components:{
      MainTable,
      AuthorizationPopUp,
      SubForm:()=>import('../components/subForm')
    },
    name:"MainTable",
    data () {
      return {
        expanded:false,
        showHelp:false,
        id:0,
        REGID:0,
        mainFormVisibility:false,
        formroute:this.route,
        Formmode:"",
        subformactions:{
          edit:false,
          create:false,
          delete:false
        },
        actions:{
          edit:false,
          create:false,
          delete:false
        },
        defaultTableMode:'table',
        defaultSubTableMode:'cards',
        detailedRow:false,
        subDetailed:false,
        subRouteValue:"",
        detailedName:"",
        filter: '',
        field:undefined,
        selected: [],
        loading: false,
        pagination: {
          descending: false,
          page: 1,
          rowsPerPage: 15,
          rowsNumber: 10
        },
        columns: [],
        data: [],
        original: []
      }
    },
    mounted () {
      window.addEventListener('keydown',(e)=>{
        if(e.key ==="F2"&&!this.expanded&&this.Actions.create){
         this.showForm({mode:'create',data:this.selectedItems[0]})
        }
        if(e.key ==="F4"){
          if(this.selectedItems.length===1&&!this.expanded&&this.Actions.edit){
            this.showForm({mode:'edit',data:this.selectedItems[0]})
          }else{
            if(this.Actions.edit&&this.selectedItems.length===0){
              this.$q.notify({
                message: 'debe seleccionar un registro para editar',
                position: 'center',
                color: 'danger',
                timeout: 1000
              });
            }

          }
        }
        if(e.key ==="Delete"&&this.Actions.delete){
          if(this.selectedItems.length===1&&!this.expanded){
            this.deleteRow(this.selectedItems[0],undefined)
          }else{
            this.$q.notify({
              message: 'debe seleccionar un registro para eliminar',
              position: 'center',
              color: 'danger',
              timeout: 1000
            });
          }
        }

      })


      this.loadData();
    },
    watch:{
      selectedItems:{
        handler(){
          this.$emit("item-selected",this.selected);
        },deep:true
      },
      "MainTable":{
       handler(val){
        if(val.reload){
          this.selected=[];
          this.loadData();
          this.$store.commit('main/ReloadMainTable',false);
        }
       } ,deep:true
      }
    },
    computed:{
      ...mapState('main',['MainTable']),
      Authorization:{
        get(){
          return this.$store.state.main.authCodesForm.payload;
        },
        set(val){
          this.$store.commit('main/AuthCodesForm',val)
        }
      },
      AuthorizationPopUpVisibility:{
        get(){
          return this.$store.state.main.authCodesForm.show;
        },
        set(val){
          this.$store.commit('main/ShowAuthCodesForm',val)
        }
      },
      searchOptions:{
        get(){
          return this.columns.length===0?
            [] : this.columns.filter(e=>!e.detailed).map((el)=>{return {label:el.label,value:el.field}})
        }
      },
      regid:{
        get(){
          return this.REGID;
        },
        set(val){
          this.REGID=val;
        }
      },
      SubTableMode:{
        get(){
          if(this.subTableMode!==undefined){
            return this.subTableMode;
          }else{
            return this.defaultSubTableMode;
          }
        },
      },
      Actions:{
        get(){
          if(this.enabledActions===undefined){
            return this.actions;
          }else{
            return this.enabledActions
          }
        },
        set(val){
          this.actions=val;
        }
      },
      SubTableActions:{
        get(){
          if(this.enabledSubTableActions===undefined){
            return this.subformactions;
          }else{
            return this.enabledSubTableActions;
          }
        },
        set(val){
          this.subformactions=val;
        }
      },
      mode:{
        get(){
          if(this.tableMode!==undefined){
            if(this.tableMode.toLowerCase()!=='table'&&this.tableMode.toLowerCase()!=='cards'){
              return this.defaultTableMode;
            }
            return this.tableMode.toLowerCase();
          }else{
            return this.defaultTableMode;
          }
        }
      },
      hideheader:{
        get(){
          if(this.hideHeader!==undefined){
            return this.hideHeader;
          }else{
            return false;
          }
        }
      },
      loadingAxios:{
        get(){
          if(this.displayLoadStateServer!==undefined){
            return this.displayLoadStateServer;
          }else{
            return true;
          }
        }
      },
      detailedRows:{
        get(){
          return this.detailed?this.detailed:this.detailedRow;
        }
      },
      selectedItems:{
        get(){
          this.$emit("item-selected",this.selected);
          return this.selected;
        },
        set(val){
          this.selected=val;
          this.$emit("item-selected",this.selected);
        }
      }
    },
    methods: {
      setVisible(val){
        this.mainFormVisibility=val;
        this.loadData();
      },
      customStyle(props,col){
        if(Array.isArray(props.row.color)){
          return {color:props.row.color!==undefined&&col.name===props.row.color[0]?props.row.color[1]:''};
        }
        return props.color;
      },
    expands(props,col){
      this.detailedName=col.name;
      this.subRouteValue=col.value.route;
      this.regid=props.row.id;
      props.expand = !props.expand;
      this.expanded=props.expand;
      this.$emit('expanded',this.expanded)
    },
      showImage(props,col){
        this.$q.dialog({
          title: 'Imagen Adjunta',
          message: `<img src=${props.row[col.name]} />`,
          html: true
        }).onOk(() => {
          // console.log('OK')
        }).onCancel(() => {
          // console.log('Cancel')
        }).onDismiss(() => {
          // console.log('I am triggered on both OK and Cancel')
        })

      },
      showForm(data){
        this.Formmode=data.mode;
        if(data.data!==undefined){
          this.id=data.data.id;
        }else{
          this.id=this.regID;
        }
        this.formroute=this.route;
        this.mainFormVisibility=true;
      },
     async loadData(){
       this.field=undefined;
          this.onRequest({
            pagination: this.pagination,
            filter: undefined
          })
      },
      ...mapActions('main',['Authxios']),
      onRequest (props) {
        const { page, rowsPerPage } = props.pagination
        const filter = props.filter
        this.loading = true
        new Promise(async () => {
          this.pagination.rowsNumber = this.getRowsNumberCount(filter)
          const fetchCount = rowsPerPage === 0 ? this.pagination.rowsNumber : rowsPerPage
          const startRow = (page - 1) * rowsPerPage
          const returnedData = await this.fetchFromServer(startRow, fetchCount, filter);
          this.data.splice(0, this.data.length, ...returnedData)
          this.pagination.page = page
          this.pagination.rowsPerPage = rowsPerPage
          this.loading = false
        })
      },

     async fetchFromServer (startRow, count, filter) {
       const output= this.data?.filter(x=>x[this.field?.value]?.toLowerCase()?.toString()?.includes(filter?.toLowerCase()));
            if(output.length===0){
              const req=await this.$store.dispatch('main/Authxios',{data:{filter,field:this.field?.value},url:this.regID!==undefined?this.route+this.regID:this.route,showLoading:this.loadingAxios});
              this.columns=req.data.content.columns;
              return req.data.content.rows;
            }
            return output;

      },
      getRowsNumberCount (filter) {
        if (!filter) {
          return this.original.length
        }
        let count = 0

        this.original.forEach((treat) => {
          if (treat.name.includes(filter)) {
            ++count
          }
        })
        return count
      },
      deleteRow(row,event){
        if(event!==undefined){
          console.log("row",row)
          event.preventDefault();
        }
        let route=this.route===undefined?this.$route.fullPath+row.id:this.route+row.id;
        this.$q.dialog({
          title: 'Confirmacion',
          message: '¿Realmente desea eliminar este registro?',
          cancel: true,
          persistent: true
        }).onOk(() => {
          this.$store.dispatch('main/Authxios',{
            url:route,
            showLoading:false,
            method:'delete',
            data:{...row}
          }).then((resp)=> {
            if (resp.status === 201) {
              this.$store.commit('main/ReloadMainTable',true);
              this.selectedItems=undefined
              this.$q.notify({
                message: 'Registro Eliminado',
                position: 'center',
                color: 'danger',
                timeout: 1000
              });
              this.loadData();
            }
            if(resp.status===200){
              this.Authorization = {
                data:resp.data.data,
                motivo_movimiento:resp.data.motivo_movimiento,
                method:(e,a)=>{this.deleteRow(a,e)}
              };
              this.AuthorizationPopUpVisibility=true;
              return;
            }
          }).catch((e)=>{
            this.$q.notify({
              message: `No fue posible eliminar el registro:
               ${e.response.data.message}`,
              position: 'center',
              multiLine: true,
              color: 'danger',
              timeout: 1600
            })
          });
        }).onCancel(() => {
        });
      }
    }
  }
</script>

<style scoped>
.q-table--no-wrap td {
  white-space: revert !important;
}
.q-pa-xs{
  width: auto !important;
}
</style>
