<template>
  <q-dialog v-model="formVisibility"  position="top">
    <q-card bordered class="q-pa-md bg-grey-1" flat>
      <q-card-section class="text-center">
        <div class=" items-center">
            <div class="text-h6">Ingrese el pedido</div>
        </div>
      </q-card-section>
      <q-form v-on:submit="onOKClick">
    <div class="row">
        <q-scroll-area  class="col-5 q-pr-lg" >
          <q-table
            :columns="columns"
            :data.sync="dataFiltered"
            :loading="loading"
            :pagination.sync="pagination"
            :selected.sync="selectedItems"
            grid
            hide-bottom
            hide-header
            row-key="nombre"
            selection="single"
          >
            <template v-slot:top-right>
              <q-input v-model="filter" borderless debounce="300" dense placeholder="Buscar producto">
                <template v-slot:append>
                  <q-icon name="search" />
                </template>
              </q-input>
            </template>
            <template v-slot:top-left>
              <q-btn :disable="loading" icon="update" unelevated @click="loadFromServer">
                <q-tooltip class="bg-primary">Actualizar</q-tooltip>
              </q-btn>
            </template>
            <template v-slot:item="props">

              <div class="q-pa-xs col-xs-12 col-sm-7 col-md-3">
                <q-card>
                  <div class=" text-center q-pt-sm q-pb-sm">
                    <span>{{ props.row.nombre }} </span>


                    <q-separator />
                    <q-card-section class="flex flex-center" horizontal >
                      <!-- remove -->
                      <q-list dense>
                        <q-item >
                          <q-item-section>
                            <q-btn  color="primary" dense flat icon="add" @click="add(props.row)"  >
                              <q-tooltip class="bg-primary">Añadir</q-tooltip>
                            </q-btn>
                          </q-item-section>
                          <q-item-section  >
                           <q-item-label caption> {{quantity(props.row.id)}}</q-item-label>
                          </q-item-section>
                          <q-item-section>
                            <q-btn color="primary" dense flat icon="remove" @click="remove(props.row)"  >
                              <q-tooltip class="bg-primary">Quitar</q-tooltip>
                            </q-btn>
                          </q-item-section>

                        </q-item>
                        <q-item>
                          <q-item-section class="text-center">
                            <q-item-label>${{ props.row.precio }}</q-item-label>
                          </q-item-section>
                        </q-item>

                        <q-item v-if="quantity(props.row.id)>0" class="justify-center">
                          <q-btn color="primary" dense flat icon="notes"  no-caps @click="addComment(props.row.id)" >
                            <q-tooltip class="bg-primary">Comentario</q-tooltip>
                          </q-btn>
                        </q-item>

                      </q-list>

                      <!--remove-->
                    </q-card-section>
                  </div>
                </q-card>
              </div>
            </template>
          </q-table>
        </q-scroll-area>
    <div class="col-4 q-pr-lg">
      <OrderPreview :pedido="orderPreview" />
    </div>
      <div class="col-3 ">
            <auto-complete
              :multiple="false"
              :new-value="true"
              :selected-item="pedido.cliente"
              label="Nombre de Cliente"
              required
              search-field="nombre"
              url="/clients/find"
              @selected="fillUserData"
            />
            <q-input
              v-model="pedido.direccion"
              label="Direccion"
              required
            />
            <q-input
              v-model="pedido.telefono"
              label="Telefono"
              required
            />
            <q-input
              v-model="pedido.comentario"
              label="Comentario"
              rows="2"
              type="textarea"
            />
            <auto-complete
              :multiple="true"
              :new-value="false"
              :selected-item="pedido.medio_pago"
              label="Medio de pago"
              required
              search-field="nombre"
              url="/paymentMethod"
              @selected="(val)=>{pedido.medio_pago=val}"
            />
        <div v-if="pedido.medio_pago.length>1">
          <q-input
            v-for="medio in pedido.medio_pago"
            :key="medio.id"
            v-model.number="medio.cantidad"
            @input="updateMultiPago"
            :label="`Cantidad a pagar (${medio.nombre})`"
            required
            type="number"
          />
        </div>
        <div class="row q-pt-sm q-pb-md">
          <div class="text-grey">Zonas de delivery</div>
        </div>
        <div class="row">
          <div class="q-mr-md q-mb-md"  v-for="delivery in this.delivery_zones" :key="delivery.id"
               :style="{backgroundColor:delivery.color,width:'20px',height:'20px',cursor: 'pointer'}" @click="setDeliveryPrice(delivery)"></div>
        </div>
        <q-input
          v-model.number="pedido.precio_delivery"
          :disable="this.pedido.detalle_pedido.length===0"
          label="Precio Delivery"
          min="0"
          type="number"
        />
        <q-input
          v-model.number="porcentaje_descuento"
          :disable="this.pedido.detalle_pedido.length===0&&this.pedido.total===0"
          label="% de Descuento"
          min="0"
          type="number"
          :hint="descuentoPorcentaje>0&&porcentaje_descuento>0?`Debe pagar: ${descuentoPorcentaje}`:''"
        />
        <auto-complete
          v-if="pedido.id!==undefined"
          :multiple="false"
          :new-value="false"
          :selected-item="pedido.estado_pedido"
          label="Estado Pedido"
          required
          search-field="descripcion"
          url="/estado-pedido"
          @selected="(val)=>{pedido.estado_pedido=val}"
        />
        <q-input
          v-model.number="total"
          disable
          label="Total"
          required
          type="number"
        />

        <q-input
          :disable="this.pedido.medio_pago.length>1"
          v-model.number="pago"
          :hint="(this.total!==0&&this.pago!==0)&&(!isNaN(this.pago - this.total))?`vuelto:$ ${this.pago - this.total}`:''"

          label="Paga con"
          min="0"
          required
          type="number"
        />
        <q-toggle
          v-model="pedido.pagado"
          label="Pagado"
        />

      </div>
    </div>
      <q-card-actions class="justify-center">
        <q-btn :disable="!ready" color="primary" flat type="submit" >{{this.mode==="create"?'Imprimir Comanda':'Guardar Cambios'}}</q-btn>
        <q-btn color="primary" flat @click="onCancelClick">Cancelar</q-btn>
      </q-card-actions>
    </q-form>
    </q-card>

  </q-dialog>

</template>

<script>
import AutoComplete from "components/AutoComplete";
import OrderPreview from "components/OrderPreview";
export default {
name: "OrderForm",
  components: { OrderPreview, AutoComplete},
  props:{
    visibility:{
      default:false,
      type:Boolean
    },
    mode:{
      default:'create',
      type:String,
      required:false
    },
    order:{
      default:undefined,
      type:Object,
      required:false
    }
  },
  data(){
    return {
      delivery_zones:[],
      porcentaje_descuento:0,
      filter:'',
      columns:[
        {name:'id',label:"id",field:'id'},
        {name:'nombre',label:"Nombre",field:'nombre',sortable:true},
        {name:'precio',label:"Precio",field:'precio'},
        {name:'descripcion',label:"Descripcion",field:'descripcion'},
      ],
      data:[],
      default_order:{
        id:undefined,
        cliente:{
          nombre:undefined
        },
        medio_pago:[],
        delivery:{
          id:undefined,
          comision:undefined,
          nombre:undefined
        },
        estado_pedido:{
          descripcion:undefined,
        },
        direccion:"",
        telefono:"",
        comentario:"",
        detalle_pedido:[],
        total:0,
        subtotal:0,
        pago:0,
        precio_delivery:0,
        pagado:false
      },
      loading:false,
      selectedItems:[],
      pagination:{
        sortBy: 'desc',
        descending: false,
        page: 1,
        rowsPerPage: 0 ,
        rowsNumber: 3
      }
    }
  },
  watch:{
    order:{
      handler(){
        if(this.order!==undefined){
          this.pedido=this.order;
        }
      },
      deep:true
    },
    formVisibility:{
      handler(){
        if(this.formVisibility){
          if(this.data.length===0)this.loadFromServer();
          if(this.pedido.id!==undefined&&this.mode==="create")this.reset();
          this.updateMultiPago();
          this.loadZones()
        }
      },deep:true
    },

  },
  computed:{
    descuentoPorcentaje:{
      get(){
        return this.total-((this.total*this.porcentaje_descuento)/100)
      }
    },
    AuthorizationPopUpVisibility:{
      get(){
        return this.$store.state.main.authCodesForm.show;
      },
      set(val){
        this.$store.commit('main/ShowAuthCodesForm',val)
      }
    },
    Authorization:{
      get(){
        return this.$store.state.main.authCodesForm.payload;
      },
      set(val){
        this.$store.commit('main/AuthCodesForm',val)
      }
    },
    orderPreview:{
      get(){
        return{
          ...this.pedido,
          total:this.total,
          sub_total:this.sub_total
        }
      }
    },
    ready:{
      get(){
        // this.pedido.pagado?
          //(this.pago - this.total)>=0&&this.pedido.cliente.nombre!==undefined&&this.pedido.direccion!==""&&this.pedido.detalle_pedido.length>0:
        return   this.pedido.cliente!==undefined?this.pedido.cliente.nombre!==undefined&&this.pedido.detalle_pedido.length>0&&this.pedido.direccion!=="":false;
      }
    },
    pago:{
      get(){
        return this.pedido.pago;
      },
      set(val){
        this.pedido.pago=val;
      }
    },
    pedido:{
      get(){return this.default_order;},
      set(val){this.default_order=val;}
    },
    dataFiltered:{
      get(){
        return this.data.filter(x=>x.nombre.toLowerCase().includes(this.filter.toLowerCase()));
      },
    },

    formVisibility:{
      get(){
        return this.visibility;
      },
      set(val){
        this.$emit('visibility',val);
      }
    },
    total:{
      get(){
        let t=0;
        this.pedido.detalle_pedido.map(el=>{
          t+=(el.producto.precio*el.cantidad);
        });

        return t+this.pedido.precio_delivery ;
      }
    },
    sub_total:{
      get(){
        return this.total - this.pedido.precio_delivery;
      }
    }
  },
  destroyed() {
  this.reset();
  },
  methods:{
    add(val){
      if(this.pedido.detalle_pedido.length===0){
        this.pedido.detalle_pedido.push({
          cantidad:1,
          descripcion:"",
          producto:val,
        })
      }else{
        if(this.pedido.detalle_pedido.find(x=>x.producto.id===val.id)===undefined){
          this.pedido.detalle_pedido.push({
            cantidad:1,
            descripcion:"",
            producto:val,
          });
        }else{
          this.pedido.detalle_pedido.find(x=>x.producto.id===val.id).cantidad+=1;
        }
      }

    },
    remove(val){
      if(this.pedido.detalle_pedido.filter(x=>x.producto.id===val.id)){
        const e=this.pedido.detalle_pedido.find(x=>x.producto.id===val.id);
        if(e!==undefined&&e.cantidad!==undefined){
          if(e.cantidad>0){
            e.cantidad-=1;
          }
          if(e.cantidad===0){
            this.pedido.detalle_pedido=this.pedido.detalle_pedido.filter(x=>x.producto.id!==val.id);
          }
        }
      }
    },
    quantity(id){
      const a=this.pedido.detalle_pedido.find(x=>x.producto.id===id);
      return a!==undefined?a.cantidad:0;
    },
    addComment(id){
      const a=this.pedido.detalle_pedido.find(x=>x.producto.id===id);
      this.$q.dialog({
        title: 'Comentario (Máximo 255 Carácteres)',
        message: a.producto.descripcion+' x '+this.quantity(a.producto.id),
        prompt: {
          model: a.descripcion,
          type: 'textarea',
          maxlength:255,
        },
        cancel: "Cancelar",
        persistent: true
      }).onOk(data => {
       a.descripcion=data;
        this.pedido.detalle_pedido=this.pedido.detalle_pedido.filter(x=>x.producto.id!==id);
        this.pedido.detalle_pedido.push(a);
      }).onCancel(() => {

      }).onDismiss(() => {

      })
    },
    loadFromServer(){
      this.loading=true;
      try{
        const req=this.$store.dispatch('main/Authxios',{url:'/stockProduct/find',showLoading:false});
        req.then((result)=>{
          this.data=result.data;
          this.loading=false;
        });
      }catch (e) {
        this.loading=false;
      }

    },
    updateMultiPago(val){
      if(val==null)return;
      this.pago=0;
        this.pedido.medio_pago.map((e)=>{
          if(!isNaN(e.cantidad)){
            this.pago+= e.cantidad
          }
        })
    },
    onOKClick(e,auth_codes){
      e.preventDefault();
      this.pedido.total=this.total;

      let data={...this.pedido}
      if(auth_codes){
        data=auth_codes
      }
      if(this.mode==="create"&&this.formVisibility) {
        this.$store.dispatch('main/Authxios',{
          showLoading:true,
          method:'post',
          url:this.$route.fullPath,
          data:data
        }).then((resp)=>{
          if(resp.status===201){
            this.formVisibility=false;
            this.$store.dispatch('main/printOrder',{id_pedido:resp.data.id})
            this.reset();
          }
          if(resp.status===200){
            if(resp.data.require_authcode){
              this.Authorization = {
                data:resp.data.data,
                motivo_movimiento:resp.data.motivo_movimiento,
                method:(e,a)=>{this.onOKClick(e,a)}
              };
              this.AuthorizationPopUpVisibility=true;
              return;
            }
          }
        }).catch((err)=>{
          this.$q.loading.hide();
          this.$q.dialog({
            title: 'Error',
            message:"Mensaje de error: "+ err.response.data.message
          }).onOk(() => {
          })
        });
      }
      if(this.mode==="edit"&&this.formVisibility) {
        this.$store.dispatch('main/Authxios',{
          url:this.$route.fullPath+this.pedido.id,
          showLoading:true,
          method:'patch',
          data:data
        }).then((resp)=>{
          if(resp.status===200){
            if(resp.data.require_authcode){
              this.Authorization = {
                data:resp.data.data,
                motivo_movimiento:resp.data.motivo_movimiento,
                method:()=>{this.onOKClick(e)}
              };
              this.AuthorizationPopUpVisibility=true;
              return;
            }
            this.form=Array.from(resp.data);
            this.formVisibility=false;
            this.$store.dispatch('main/printOrder',{id_pedido:resp.data.id})
            this.reset();
          }
        }).catch((err)=>{
          this.$q.loading.hide();
          this.$q.dialog({
            title: 'Error',
            message:"Mensaje de error: "+ err.response.data.message
          }).onOk(() => {
          })
        });
      }
      this.$store.commit('main/ReloadMainTable',true);
    },
    onCancelClick(){
     this.reset();
      this.formVisibility=false;
    },
    fillUserData(val){
        if(val!==null){
          this.pedido.cliente=val
          this.pedido.direccion=val.direccion!==null?val.direccion:this.pedido.direccion
          this.pedido.telefono=val.telefono!==null?val.telefono:this.pedido.telefono
        }
    },
    async loadZones(){
      this.$store.dispatch('main/Authxios',{url:'/delivery',showLoading:false}).then(resp=>this.delivery_zones=resp.data.rows)
    },
    setDeliveryPrice(delivery){
      this.pedido.precio_delivery=delivery.comision
    },
    reset(){
      this.default_order={
        id:undefined,
        cliente:{
          nombre:undefined
        },
        medio_pago:[{
          id:undefined,
          nombre:undefined,
          cantidad:0
        }],
        precio_delivery:0,
        estado_pedido:{
          descripcion: undefined
        },
        direccion:"",
        telefono:"",
        comentario:"",
        detalle_pedido:[],
        total:0,
        subtotal:0,
        pago:0,
        pagado:false
      };
      this.$store.commit('main/ReloadMainTable',true)
    }
  }
}
</script>
<style scoped>
</style>
