<template>
  <div class="ticket">
    <div class="text-center">
      <p >Darwing's
        <br> Comanda N° {{pedido.comanda}}
        <br>Cliente: {{pedido.cliente.nombre}}
        <br>Direccion: {{pedido.direccion}}
        <br>{{pedido.sucursal}}</p>
    </div>

    <div class="text-center  items-center">
      <table>
        <thead>
        <tr>
          <th class="quantity">Cant.</th>
          <th class="description">Desc.</th>
          <th class="price">$</th>
          <th class="desc">Coment.</th>
        </tr>
        </thead>
        <tbody v-if="pedido.detalle_pedido.length>0">
        <tr  v-for="det in pedido.detalle_pedido" :key="det.nombre">
          <td class="quantity">{{det.cantidad}}</td>
          <td class="description">{{det.producto.nombre}}</td>
          <td class="price">{{'$'+det.producto.precio}}</td>
          <td class="desc">{{det.descripcion!==""&&det.descripcion!==null?det.descripcion:''}}</td>
        </tr>
        <tr>
          <th class="quantity"></th>
          <th class="description">Sub Total</th>
          <th class="price">{{'$' + pedido.sub_total}}</th>
          <th class="desc"></th>
        </tr>
        <tr>
          <th class="quantity"></th>
          <th class="description">Total</th>
          <th class="price">{{'$' + pedido.total}}</th>
          <th class="desc"></th>
        </tr>
        </tbody>
      </table>
    </div>

    <p class="centered">Medio de pago: {{medio_pago}}</p>
    <p class="centered">Comentarios: {{pedido.comentario}}</p>
    <p class="centered">Delivery: ${{pedido.precio_delivery}}</p>
    <p class="centered" >{{pedido.created_at}}</p>
    <p class="centered">Gracias por Preferirnos!</p>
  </div>
</template>

<script>

export default {
  props:{
    pedido:{
      required:false,
      type:Object,
      default:function (){
        return {
          comanda:0,
          cliente:{nombre:""},
          direccion:"",
          sucursal:"",
          total:0,
          medio_pago:{
            nombre:""
          },
          comentario:"",
          precio_delivery:0,
          created_at:Date.now(),
          detalle_pedido:[]
        }
      }
    }
  },
  // name: 'ComponentName',
  data () {
    return {

    }
  },computed:{
    medio_pago:{
      get(){
        let medio=[];
          this.pedido.medio_pago.map((e)=>{
          medio.push(e.nombre)
        })
        return medio.join(',');
      }
    }
  }
}
</script>

<style scoped>
  td,
  th,
  tr,
  table {

    border-top: 1px solid black;
    border-collapse: collapse;
    width: -webkit-fill-available;
    margin:10px;

  }

  td.description,
  th.description {
    width: 60px;
    max-width: 60px;
  }

  td.quantity,
  th.quantity {
    width: 50px;
    max-width: 50px;
    word-break: break-all;
  }

  td.price,
  th.price {
    width: 50px;
    max-width: 50px;
    word-break: break-all;
  }
  td.desc,
  th.desc {
    width: 50px;
    max-width: 50px;
    word-break: break-all;
  }

  .centered {
    text-align: center;
    align-content: center;
  }

  .ticket {
    font-size: 10px;
    font-family: 'Times New Roman';
  }

  img {
    max-width: inherit;
    width: inherit;
  }

  @media print {
    .hidden-print,
    .hidden-print * {
      display: none !important;
    }
  }
</style>
