<template>
  <q-dialog  v-model="visible" position="top">
    <q-card flat bordered class="my-card bg-grey-1" >
      <q-card-section>
        <div class="row items-center no-wrap  ">
          <div class=" col  ">
            <div class="text-h6">Ingrese los datos solicitados</div>
          </div>
        </div>
        <div class="row items-center no-wrap"  v-show="isLoading">
          <div class="col text-center">
            <q-spinner
              color="primary"
              size="3em"
              :thickness="2"
            />
          </div>
        </div>
      </q-card-section>
      <q-form v-on:submit="onOKClick"  v-show="!isLoading">
        <q-card-section>
          <div class="col items-center no-wrap">
            <!-- loop de generacion de formulario-->
            <div class="  q-gutter-md" v-for="(atrib,k) in this.form"
                 :key="k" >
              <q-input
                :name="atrib.field"
                v-if="atrib.type==='text'||atrib.type==='number'||atrib.type==='textarea'||atrib.type==='email'||atrib.type==='password' "
                :label="atrib.label"
                v-model="formData[atrib.field]"
                :required="atrib.required"
                :type="atrib.type"
                autocomplete="off"
                :hint="maped[atrib.field]"
                @input="(val)=>{
                 if(atrib.mapping!==undefined){customMapping(atrib.mapping,atrib.field)} return val}"
              />
              <q-select  autocomplete="off" :key="k" v-bind:value="atrib.value" emit-value
                         :option-label="atrib.optionLabel"
                         :label="atrib.label"
                         :disable="atrib.disable"
                         :use-chips="atrib.multiple"
                         :multiple="atrib.multiple"
                         v-if="atrib.type==='select'&&!atrib.newValue" :options="atrib.options" v-model="formData[atrib.field]" >
              </q-select>
              <q-toggle
                v-bind:value="atrib.value"
                v-if="atrib.type==='toggle'"
                v-model="formData[atrib.field]"
                :label="atrib.label"
              />
              <auto-complete :selected-item="atrib.selectedItem"  @selected="(val)=>{formData[atrib.field]=val;}" autocomplete="off"
                             v-if="atrib.type==='autocomplete'" :url="atrib.url" :label="atrib.label"
                             :new-value="atrib.newValue"

                             :multiple="atrib.multiple" :search-field="atrib.searchField" />
              <div class="q-pa-md"   v-if="atrib.type==='color'">
                <div>{{atrib.label}}</div>
                <q-badge color="grey-3" text-color="black" class="q-mb-sm full-width">
                  <div class="full-width" :style="{backgroundColor:formData[atrib.field],height:'20px'}" />
                </q-badge>
              <q-color
                v-if="atrib.type==='color'"
                :name="atrib.field"
                :label="atrib.label"
                v-model="formData[atrib.field]"
                :required="atrib.required"
                :type="atrib.type"
                no-header
                no-footer
                default-view="palette"
                :hint="maped[atrib.field]"
              />
              </div>
              <q-card-section  v-if="atrib.type==='form'">
              <sub-form :key="atrib.field"  :emit-value="true" @value="(val)=>{if(formData[atrib.field]===undefined){formData[atrib.field]=[];} formData[atrib.field].push(Object.assign({},val));customMapping(atrib.mapping,atrib.field);}"
                        :route="atrib.url" :mode="atrib.mode" @visible="(val)=>{val?subForm=atrib.field:subForm='';}" :visibility="subForm===atrib.field" :id="0" />
              <q-btn color="primary" outline :label="atrib.btnlabel" @click="subForm=atrib.field" />
               <li  v-for="(subItems,index) in maped[atrib.field]" :key="index">
                {{subItems}}
               </li>
              </q-card-section>
              <q-card-section  v-if="atrib.type==='button'">
                <q-btn color="primary" outline :label="atrib.label" @click="customButtonAction(atrib.actionName,atrib.actionParams)" />
              </q-card-section>
            </div>
            <!-- loop de generacion de formulario-->
          </div>
        </q-card-section>
        <q-card-actions class="justify-center">
          <q-btn color="primary" flat type="submit" :loading="loadingButtom"  >Ok</q-btn>
          <q-btn color="primary" flat @click="onCancelClick">Cancelar</q-btn>

        </q-card-actions>
      </q-form>

    </q-card>

  </q-dialog>


</template>

<script>
  import AutoComplete from "./AutoComplete";
  import subForm from './subForm'
  export default {
    props:{
      visibility:{
        type:Boolean,
        required:false,
        default:false,
      },
      id:{
        type:Number,
        required:false,
        default:0
      },
      mode:{
        type:String,
        required:false,
        default:'create'
      },
      route:{
        type:String,
        required:false,
        default:undefined
      },
      emitValue:{
        type:Boolean,
        required:false,
        default:false,
      },
    },
    name: "subForm",
    components: {AutoComplete,subForm},
    data() {
      return {
        loading:false,
        form:[],
        show:false,
        formData:{},
        isSettedValues:false,
        subForm:"",
        mapedData:[],
        loadingButtom:false
      }
    },
    watch:{
      form:{
        handler(val){
          this.isLoading=val.length===0;
        },deep:true
      },
      visibility:{
        handler(val){
          if(val===undefined){
            this.visibility=false;
          }
          this.isLoading=true;
          if(this.visibility&&this.form.length===0){

            this.loadData(this.mode);
          }
          this.$emit('visibility',this.visibility);
        }
      },
      mode:{
        handler(val){
        this.loadData(val);
        },deep:true
      }
    },
    computed:{
      isLoading:{
        get(){
          return this.loading;
        },
        set(val){
          this.loading=val;
        }
      },
    maped:{
      get(){
        return this.mapedData;
      },
      set(val){
        this.mapedData=val;
      }
    },
      visible:{
      get(){
        return this.visibility;
      },
        set(val)
        {
          this.$emit('visibility',val);
        }
      }
    },
    methods: {
      newValue(field,val){
        this.formData[field]={id:0,[field]:val};
      },
      customMapping(mappingFunc,value){
        if(mappingFunc!==undefined){
            this.$store.commit('main/'+mappingFunc,this.formData[value]);
            this.maped[value]= this.$store.getters['main/'+mappingFunc];
        }
      },
      customButtonAction(Action,params){
        try{
          if(Action===''){
            throw new Error("Action empty");
          }
          this.$store.dispatch('main/'+Action,params);
        }catch (e) {
          this.$q.dialog({
            title: 'Error',
            message:"No fue posible ejecutar la accion"
          }).onOk(() => {
          })
          return;
        }


      },
      readyData(){
         const requireds=this.form.filter(x=>x.required===true&&x.value===undefined);
        return requireds.length===0;
         //todo:esperar la carga de los autocomplete
      },
      loadData(val){
        let req=undefined;
        if(val==="create"&&this.visibility) {
          req= this.$store.dispatch('main/Authxios',{
            url:this.route===undefined?this.$route.fullPath+val:this.route+this.mode,
            showLoading:false,
            method:'get'})
        }
        if(val==='edit'&&this.visibility){
          if(this.id===undefined){
            console.log("ERROR");
          }
          this.loadingButtom=true;
          req=  this.$store.dispatch('main/Authxios',{
            showLoading:false,
            url:this.route===undefined?this.$route.fullPath+this.id+'/'+val:this.route+this.id+"/"+val,
            method:'get'})
        }
        if(req!==undefined){
          req.then((resp)=>{
            if(resp.status===200){
              this.form=Array.from(resp.data.content);
              this.setValuesToForm();

            }
          }).catch((error)=>{
            this.$q.dialog({
              title: 'Error',
              message:"Mensaje de error: "+ error.response.data.message
            }).onOk(() => {
            })
          })
        }

      },
      setValuesToForm(){
        let existAutocompleteInForm=false;
        this.form.map((formElement)=>{
          if(formElement.type==='autocomplete'){
            this.$set(this.formData,formElement.field, formElement.selectedItem);
            existAutocompleteInForm=true;
          }
          this.$set(this.formData,formElement.field, formElement.value);
        });
        if(existAutocompleteInForm){
          setTimeout(()=>{
            this.loadingButtom=false;
          },3000);
        }else{
          this.loadingButtom=false;
        }

        this.readyData();
      },
      reset(){
        this.form=[];
          this.show=false;
          this.formData={};
        this.isSettedValues=false;
          this.subForm="";
          this.mapedData=[];
          this.loadingButtom=false;
          this.$store.commit('main/ReloadMainTable',true);
      },
      onCancelClick(){
        this.$emit('visible',false);
        this.reset();
        //this.visibility=false;
      },
      onOKClick(e){
        e.preventDefault();
        if(!this.emitValue){
          if(this.mode==="create"&&this.visibility) {
            console.log("id on create",this.id);
            this.$store.dispatch('main/Authxios',{
              showLoading:false,
              url:this.route,
              method:'post',
              data:{...this.formData,id:this.id===0?undefined:this.id}
            }).then((resp)=>{
              if(resp.status===200){
                this.$emit('value',this.formData);
                this.$emit('response',resp.data)
              }else{
                console.log("error getting form")
              }
            }).catch((err)=>{
              this.$q.dialog({
                title: 'Error',
                message:"Mensaje de error: "+ err.response.data.message
              }).onOk(() => {
              })
            });
          }
          if(this.mode==="edit"&&this.visibility) {
            this.$store.dispatch('main/Authxios',{
              url:this.route===undefined?this.$route.fullPath+this.id:this.route+this.id,
              showLoading:false,
              method:'put',
              data:{...this.formData}
            }).then((resp)=>{
              if(resp.status===200){
                this.form=Array.from(resp.data);
                this.$emit('visible',false);
                this.$emit('value',this.formData);
              }else{
                console.log("error getting form");
              }

            }).catch((err)=>{
              this.$q.dialog({
                title: 'Error',
                message:"Mensaje de error: "+ err.response.data.message
              }).onOk(() => {
              })
            });
          }
          this.$store.commit('main/ReloadMainTable',true);
        }else {

          this.$emit('value',this.formData);
          this.$emit('visible',false);
        }

        this.$emit('visible',false);
        this.reset();

      }
    },

  }
</script>

