<template>
 <q-table
    title="Treats"
    :data="[$attrs.data]"
    :columns="$attrs.columns"
    row-key="name"
    selection="multiple"
    :selected.sync="selected"
    grid
    hide-header
  >
    <template v-slot:top-right>
      <q-input borderless dense debounce="300" v-model="filter" placeholder="Search">
        <template v-slot:append>
          <q-icon name="search" />
        </template>
      </q-input>
    </template>

    <template v-slot:item="props">
      <div
        class="q-pa-xs col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-style-transition"
        :style="props.selected ? 'transform: scale(0.95);' : ''"
      >
        <q-card :class="props.selected ? 'bg-grey-2' : ''">
          <q-card-section>
            <q-checkbox dense v-model="props.selected" :label="props.row.name" />
          </q-card-section>
          <q-separator />
          <q-list dense>
            <q-item v-for="col in props.cols.filter(col => col.name !== 'desc')" :key="col.name">
              <q-item-section>
                <q-item-label>{{ col.label }}</q-item-label>
              </q-item-section>
              <q-item-section side>
                <q-item-label caption>{{ col.value }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-card>
      </div>
    </template>

  </q-table>
</template>

<script>
  export default {
    name:"SubTable",
    data () {
      return {
        filter: '',
        c:[],
        r:[],
        selected: [],
        props:["data","columns"],
      }
    },computed:{
      subTablerows:{
        get(){

          if(this.$attrs.data!==undefined){
            return this.data;
          }else{
            return this.r;
          }
        },set(val){

          if(this.$attrs.data===undefined){
            this.r=val;
          }else{
            this.r.push(val);
          }

        }
      },
      subTablecols:{
        get(){
          if(this.$attrs.columns!==undefined){
            return this.columns;
          }else{
            return this.c;
          }
        },set(val){
          if(this.$attrs.columns===undefined){
            this.c=val;
          }else{
            this.c.push(val);
          }

        }
      }
    },
    mounted() {
      console.log("attrs",this.$q.attrs);
    }
  }
</script>
