<template>
  <q-layout view="hHh lpR fFr">

    <q-header reveal elevated class="bg-primary text-white" height-hint="98">
      <q-toolbar  class="bg-white text-primary" >
          <img style="width: 150px; height:60px;" @click="()=>{this.$router.push('/')}"  src="images/logoauto.png">
      <q-tabs v-if="!$q.screen.lt.md"  no-caps shrink dense >
        <q-space style="width: 80px;" />
        <q-route-tab style="max-width: 100px" v-if="this.$q.localStorage.getItem('user').isAdmin" icon="group" align="center" to="/users" label="Usuarios" />
        <q-route-tab style="max-width: 100px" icon="favorite" align="center" to="/clients" label="Clientes" />
        <q-route-tab style="max-width: 100px" icon="delivery_dining" align="center"  to="/orders" label="Pedidos" />
        <q-route-tab style="max-width: 100px" icon="price_check" align="center" to="/caja" label="Caja" />
        <q-route-tab style="max-width: 100px" icon="list" to="/stockProduct" label="Stock" />
        <q-route-tab style="max-width: 100px" v-if="this.$q.localStorage.getItem('user').isAdmin" icon="assignment" align="center" to="/products" label="Productos" />
        <q-route-tab style="max-width: 100px" v-if="this.$q.localStorage.getItem('user').isAdmin" icon="price_change" align="center" to="/discount" label="Descuentos" />
        <q-route-tab style="max-width: 100px" v-if="this.$q.localStorage.getItem('user').isAdmin" icon="local_shipping" align="center" to="/delivery" label="Deliverys" />
        <q-route-tab style="max-width: 100px" v-if="this.$q.localStorage.getItem('user').isAdmin" icon="vpn_key" align="center" to="/auth-code" label="Autorizacion" />

      </q-tabs>
        <q-space />
        <q-btn dense flat round icon="menu" @click="right = !right" />
      </q-toolbar>
    </q-header>

    <q-drawer :breakpoint="700" style="width: 100px;" v-model="right" side="right"   overlay elevated>
      <!-- drawer content -->
      <q-scroll-area class="fit"  >
        <q-card  flat v-if="this.$q.localStorage.getItem('user')!==null" class="text-center q-pt-lg q-pb-lg-xl" style="height: 100px">
              <q-card-section>
                <q-list dense>
                  <q-item >
                    <q-item-section avatar>
                      <q-icon color="primary" name="account_circle" />
                    </q-item-section>
                    <q-item-section>
                      <q-item-label >Usuario</q-item-label>
                      <q-item-label caption>{{this.$q.localStorage.getItem('user').name}}</q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-item clickable @click="()=>{this.$router.push({name:'login.config'})}" >
                    <q-item-section avatar>
                      <q-icon color="red" name="food_bank" />
                    </q-item-section>
                    <q-item-section >
                      <q-item-label>{{this.$q.localStorage.getItem('user').workspace.sucursal.nombre}}</q-item-label>
                      <q-item-label caption>{{this.$q.localStorage.getItem('user').workspace.caja.descripcion}}</q-item-label>
                    </q-item-section>
                  </q-item>
                  <currency/>
                  <authorization-codes v-if="this.$q.localStorage.getItem('user').isAdmin" />
                </q-list>
              </q-card-section>
              <q-card-section >
                <q-list  v-if="$q.screen.lt.md"  >
                  <q-item  dense clickable  v-if="this.$q.localStorage.getItem('user').isAdmin" to="/users" >
                    <q-item-section avatar >
                      <q-icon color="red" name="group" />
                    </q-item-section>
                    <q-item-section >
                      <q-item-label >
                        Usuarios
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-item dense clickable to="/clients">
                    <q-item-section avatar >
                      <q-icon color="red" name="favorite" />
                    </q-item-section>
                    <q-item-section>
                      <q-item-label>
                        Clientes
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-item dense clickable to="/orders"  >
                    <q-item-section avatar >
                      <q-icon color="red" name="delivery_dining" />
                    </q-item-section>
                    <q-item-section>Pedidos</q-item-section>
                  </q-item>
                  <q-item clickable dense to="/caja"  >
                    <q-item-section avatar >
                      <q-icon color="red" name="price_check" />
                    </q-item-section>
                    <q-item-section>Caja</q-item-section>
                  </q-item>

                  <q-item clickable dense to="/stockProduct"  >
                    <q-item-section avatar >
                      <q-icon color="red" name="list" />
                    </q-item-section>
                    <q-item-section>Stock</q-item-section>
                  </q-item>
                  <q-item clickable dense v-if="this.$q.localStorage.getItem('user').isAdmin" to="/products"  >
                    <q-item-section avatar >
                      <q-icon color="red" name="assignment" />
                    </q-item-section>
                    <q-item-section>Productos</q-item-section>
                  </q-item>
                  <q-item clickable dense v-if="this.$q.localStorage.getItem('user').isAdmin" to="/discount"  >
                    <q-item-section avatar >
                      <q-icon color="red" name="price_change" />
                    </q-item-section>
                    <q-item-section>Descuentos</q-item-section>
                  </q-item>
                  <q-item clickable dense  v-if="this.$q.localStorage.getItem('user').isAdmin" to="/delivery"  >
                    <q-item-section avatar >
                      <q-icon color="red" name="local_shipping" />
                    </q-item-section>
                    <q-item-section>Deliverys</q-item-section>
                  </q-item>
                  <q-item clickable dense  v-if="this.$q.localStorage.getItem('user').isAdmin" to="/auth-code"  >
                    <q-item-section avatar >
                      <q-icon color="red" name="vpn_key" />
                    </q-item-section>
                    <q-item-section>Códigos de Autorizacion</q-item-section>
                  </q-item>
                  <q-item clickable dense  v-if="this.$q.localStorage.getItem('user').isAdmin" @click="logout" >
                    <q-item-section avatar >
                      <q-icon color="red" name="logout"  />
                    </q-item-section>
                    <q-item-section>Salir</q-item-section>
                  </q-item>

                </q-list>
                <q-list v-else >
                  <q-item clickable dense @click="logout" >
                    <q-item-section avatar >
                      <q-icon color="red" name="logout" />
                    </q-item-section>
                    <q-item-section>Salir</q-item-section>
                  </q-item>
                  <q-item class="footer " >
                    <q-item-section >
                      <img style="height: 200px;width: 200px;" src="images/TIODARWINGS.svg">
                  </q-item-section>
                  </q-item>

                </q-list>


              </q-card-section>

        </q-card>
      </q-scroll-area>



    </q-drawer>
    <q-page-container class="q-pa-sm" >
      <router-view  />
    </q-page-container>
    <q-footer elevated class="bg-grey-8 text-white">
      <q-toolbar>
        <q-toolbar-title>
          <q-avatar>
            <img src="images/TIODARWINGS.svg">
          </q-avatar>
          <img  style="width: 100px; height:30px; margin-bottom: -10px; margin-left: 10px;" src="images/logoauto.png">
        </q-toolbar-title>
      </q-toolbar>
    </q-footer>
  </q-layout>
</template>
<script>
  import Currency from "components/currency";
  import AuthorizationCodes from "components/AuthorizationCodes";

  export default {
    components: {AuthorizationCodes, Currency},
    data () {
      return {
      right:false,
        innerTab:"Informes",
      }
    },created() {
      this.$q.notify.setDefaults({
        position: 'top-right',
        timeout: 2500,
        textColor: 'white',
        actions: [{ icon: 'close', color: 'white' }]
      });
      this.$store.dispatch('main/isLogued');
    },methods:{
      logout(){
        this.$store.dispatch('main/logout');
      }
    }
  }
</script>
