<template>
  <q-page padding>
    <q-card class="bg-red-6 glossy q-pa-md text-white">
      <q-card-section>
        <div class="text-h6"></div>
        <div class="text-subtitle2">Códigos de Autorizacion Vigentes</div>
      </q-card-section>
      <main-table :display-load-state-server="false" sub-table-mode="table" :enabled-actions="{create:false,edit:false,delete:this.$q.localStorage.getItem('user').isAdmin}" title="Códigos de Autorización" :detailed="false" />
    </q-card>
  </q-page>
</template>

<script>
export default {
   name: 'AuthCodes',
  components:{
    MainTable:()=>import('../components/MainTable'),
  }
}
</script>
