<template>
  <q-page padding>
    <q-card class="bg-red-6 glossy q-pa-md text-white">
      <q-card-section>
        <div class="text-h6"></div>
        <div class="text-subtitle2">Acciones en Caja</div>
      </q-card-section>
      <main-table :display-load-state-server="false" sub-table-mode="table" :enabled-actions="{create:this.$q.localStorage.getItem('user').isAdmin,edit:this.$q.localStorage.getItem('user').isAdmin,delete:this.$q.localStorage.getItem('user').isAdmin}" :title="this.$q.localStorage.getItem('user').isAdmin?'Cajas disponibles':'Movimientos de caja'" @item-selected="selectedItem" :detailed="true" />
      <q-separator/>
      <q-card-actions>
        <export-excel
          :data   = "this.data"
          :fields="this.columns"
          :before-generate="detalleCaja"
        >
          <q-btn no-caps class="text-black" v-if="this.$q.localStorage.getItem('user').isAdmin" color="white"  >Informe de cajas</q-btn>

        </export-excel>
        <q-btn no-caps class="text-white" color="primary" @click="setVisible(true)" label="Crear Movimiento" />
      </q-card-actions>
    </q-card>
    <sub-form @response="requiresAuthCode" :visibility="mainFormVisibility"  :id="id" :route="'/movimiento/'" @visible="setVisible" />
    <AuthorizationPopUp/>
  </q-page>
</template>

<script>

import excel from 'vue-excel-export'
import Vue from "vue";
Vue.use(excel)
import AuthorizationPopUp from "components/AuthorizationPopUp";
export default {
  name: 'caja',
  components:{
    MainTable:()=>import('../components/MainTable'),
    SubForm:()=>import('../components/subForm'),
    AuthorizationPopUp
  },
  data(){
    return{
      mainFormVisibility:false,
      mode:"",
      selectedItems:[],
      id:0,
      route:this.$route.fullPath,
      columns:undefined,
      data:undefined

    }
  },
  computed:{
    Authorization:{
      get(){
        return this.$store.state.main.authCodesForm.payload;
      },
      set(val){
        this.$store.commit('main/AuthCodesForm',val)
      }
    },
    AuthorizationPopUpVisibility:{
      get(){
        return this.$store.state.main.authCodesForm.show;
      },
      set(val){
        this.$store.commit('main/ShowAuthCodesForm',val)
      }
    },
  },
  methods:{
    requiresAuthCode(formValues){
      if(formValues.require_authcode){
        console.log("FORM VALUES",formValues)
        this.Authorization = {
          data:{...formValues,total:formValues.data.monto},
          motivo_movimiento:[formValues.data.movimiento],
          method:(e,a)=>{this.postMovimientoAuthCode(a)}
        };
        this.AuthorizationPopUpVisibility=true;
      }
    },
    selectedItem(val){
      this.selectedItems=val;
    },
    showForm(data){
      this.mode=data.mode;
      if(data.data!==undefined){
        this.id=data.data.id;
      }
      this.route=data.route;
      this.mainFormVisibility=true;
    },
    setVisible(val){
      this.mainFormVisibility=val;
    },
    postMovimientoAuthCode(values){
      this.$store.dispatch('main/Authxios',{
        showLoading:false,
        url:'/movimiento',
        method:'post',
        data:values
      }).then((resp)=>{
        if(resp.status===201){
         this.mainFormVisibility=false;
          this.$store.commit('main/ReloadMainTable',true);
        }else{
        this.AuthorizationPopUpVisibility=true
        }
      })
    },
   async detalleCaja() {
      const serverData= await this.$store.dispatch('main/Authxios',{
        url:"/caja/informe",
        showLoading:false,
        method:'get'});
     this.columns={};
        serverData.data.columns.forEach((element)=>{
       this.columns[element.label]=element.field;
       });

     this.data=serverData.data.rows;

    }
  }
}
</script>
