<template>
  <q-page
    class="window-height window-width row justify-center items-center"
    style="background: #a9b9c5;"
  >
    <div class="column q-pa-lg "  style="background: #a9b9c5"  >
      <div class="row" >
        <q-form class="q-px-sm q-pt-xl q-pb-lg" >
        <q-card square class="shadow-24"  style="width:300px;height:485px; background: #a9b9c5">
          <q-card-section style="background:linear-gradient(#4a71ad, #a9b9c5);" >
            <h4 class="text-h5 text-white q-my-md"><img class="logo" src="images/logoauto.png"></h4>
            <h4 class="text-center text-h5 text-black q-my-md">Identifiquese</h4>
          </q-card-section>
          <q-card-section  style="background: #a9b9c5">
              <q-input required square clearable v-model="username" type="email" label="Correo">
                <template v-slot:prepend>
                  <q-icon name="mail" />
                </template>
              </q-input>
              <q-input required square clearable v-model="password" type="password" label="Contraseña">
                <template v-slot:prepend>
                  <q-icon name="lock" />
                </template>
              </q-input>
          </q-card-section>
          <q-card-actions class="q-px-lg"  style="background: #a9b9c5" >
            <q-btn :disable="isLoading" @click.prevent="tryLogin" type="submit" elevated size="lg" style="background: #b00808;"
                   class="full-width text-white" :label="!isLoading?'Ingresar':''" >
                  <q-spinner
                    v-if="isLoading"
                    color="white"
                    size="sm"
                    :thickness="2"
                  />
            </q-btn>
          </q-card-actions>
         </q-card>
        </q-form>
      </div>
    </div>
  </q-page>
</template>

<script>
  export default {
    name: 'Authentification',
    data () {
      return {
        username: '',
        password: '',
        isLoading:false,
      }
    },
    methods:{
      async tryLogin(){
        this.isLoading=true;
        await this.$store.dispatch('main/login',{username:this.username,password:this.password})
        setTimeout(()=>{
          this.isLoading=false;
        },1000)

      }
    }
  }
</script>

<style>
  .logo {
    width: 250px;
    height: 15vh;
  }
</style>
