<template>
  <q-page
    class="window-height window-width row justify-center items-center"
    style="background: #a9b9c5;"
  >
    <div class="column q-pa-lg "  style="background: #a9b9c5"  >
      <div class="row" >
        <div class="row items-center no-wrap"  v-if="isLoading">
          <div class="col text-center">
            <q-spinner
              color="primary"
              size="3em"
              :thickness="2"
            />
          </div>
        </div>
        <q-form class="q-px-sm q-pt-xl q-pb-lg"  v-else>
          <q-card square class="shadow-24"  style="width:300px;height:485px; background: #a9b9c5">
            <q-card-section style="background:linear-gradient(#4a71ad, #a9b9c5);" >
              <h4 class="text-h5 text-white q-my-md"><img class="logo" src="images/logoauto.png"></h4>
                <h4 class="text-center text-h6 text-black q-my-md" >Bienvenido {{name}}</h4>

            </q-card-section>
            <q-card-section  style="background: #a9b9c5">
              <q-select  autocomplete="off"
                         map-options
                         required
                         label="Sucursal"
                         option-label="descripcion"
                       :options="sucursales"
                       @input="loadCajas"
                         v-model="sucursal">
                <template v-slot:prepend>
                  <q-icon name="store" />
                </template>
              </q-select>
              <q-select  autocomplete="off"
                         v-if="cajas.length!==0"
                         emit-value
                         map-options
                         required
                         label="Caja"
                         option-label="descripcion"
                         :options="cajas" v-model="caja" >
                <template v-slot:prepend>
                  <q-icon name="payment" />
                </template>
              </q-select>
            </q-card-section>
            <q-card-actions class="q-px-lg"  style="background: #a9b9c5" >
              <q-btn :disable="(caja===undefined||sucursal===undefined)&&!isLoading" @click.prevent="save" type="submit" elevated size="lg" style="background: #b00808;" class="full-width text-white" label="Configurar Sesión" />
            </q-card-actions>
          </q-card>
        </q-form>
      </div>
    </div>
  </q-page>
</template>

<script>
import Vue from "vue";

export default {
name: "loginParams",
  data(){
    return{
      isLoading:false,
      cajas:[],
      sucursales:[],
      caja:undefined,
      sucursal:undefined,
      requestData:undefined,
      user:undefined
    }
  },
  async mounted() {
  this.isLoading=true;
  await this.configure();
  this.isLoading=false;
  },
  computed:{
    name:{
      get(){
       if(this.user!==undefined){
         return this.user.name;
       }else{
         return '';
       }
      }
    }
  },
  methods:{
    async getOptions(){
      if(this.requestData===undefined){
        this.requestData=await this.$store.dispatch('main/configSession');
        return this.requestData;
      }else{
        return this.requestData;
      }
    },
    async configure(){
      this.isLoading=true;
     await this.getOptions();
     this.sucursales= this.requestData.data
       .map(x=>{
       return {
         id:x.caja.sucursal.id,
         descripcion:x.caja.sucursal.nombre
       }
     })
       .filter((obj,index)=>index===this.requestData.data.findIndex(o=>obj.id===o.caja.sucursal.id))
      this.isLoading=false;
    },
    loadCajas(){
      this.cajas=this.requestData.data
        .filter(x=>x.caja.sucursal.id===this.sucursal?.id)
        .map(x=>x.caja);
    },
    save(){
      const req=this.$store.dispatch('main/Authxios',{
          url:Vue.prototype.$auth.baseURL+'/login/verify',
        showLoading:false,
        method:'post',
        data:{
            caja:this.caja,
            sucursal:this.sucursal
        }
      });
      req.then((data)=>{
        this.$q.localStorage.set('sucursal',data.data.sucursal)
        this.$q.localStorage.set('caja',data.data.caja)
        this.$q.localStorage.set('user',data.data.usuario)
        this.user=data.data.usuario;
        this.$router.push({name:'orders.index'});
      }).catch(()=>{
        this.$q.notify({
          message: 'Parametros Incorrectos',
          position: 'center',
          color: 'danger',
          timeout: 1000
        })
      })
    }
  }
}
</script>

<style scoped>
.logo {
  width: 250px;
  height: 15vh;
}
</style>
