<template>
  <q-page padding>
    <q-card class="bg-red-6 glossy q-pa-md text-white">
      <q-card-section>
        <div class="text-h6"></div>
        <div class="text-subtitle2">Acciones en Pedidos</div>
      </q-card-section>
      <main-table @expanded="(val)=>this.expanded=val" ref="table"  :display-load-state-server="false" :enabled-sub-table-actions="{create:true,edit:true,delete:true}" :enabled-actions="{create:false,edit:false,delete:false}" title="Pedidos" @item-selected="selectedItem" :detailed="true" />
      <q-card flat  >
        <q-card-section class="q-pa-md">

          <q-card-actions  align="left">
            <q-btn no-caps  color="primary" outline :disabled="this.selectedItems.length>=1" v-on:click="showForm({mode:'create',data:undefined})">Crear</q-btn>
            <q-btn no-caps  color="primary" outline :disabled="this.selectedItems.length<=0" v-on:click="showForm({mode:'edit',data:selectedItems[0]})" >Editar</q-btn>
            <q-btn no-caps  color="negative" outline :disabled="this.selectedItems.length<=0" v-on:click="deleteRow(selectedItems[0])" >Eliminar</q-btn>
            <q-btn no-caps  color="negative" outline :disabled="this.selectedItems.length<=0" v-on:click="printOrders" >Imprimir Comanda</q-btn>

          </q-card-actions>
        </q-card-section>
      </q-card>
    </q-card>
    <order-form :mode="mode" :order="this.selectedItems.length>0&&mode==='edit'?JSON.parse(JSON.stringify(this.selectedItems[0])):undefined" :visibility="this.mainFormVisibility" @visibility="(val)=>this.mainFormVisibility=val"/>
  </q-page>
</template>

<script>
  import OrderForm from "components/OrderForm";
  export default {
    name: 'orders',
    components:{
      OrderForm,
      MainTable:()=>import('../components/MainTable'),

    },
    data(){
      return{
        expanded:false,
        mainFormVisibility:false,
        mode:"",
        selectedItems:[],
        id:0,
        route:this.$route.fullPath

      }
    },
    methods:{
      selectedItem(val){
        this.selectedItems=val;
      },
      showForm(data){
        this.mode=data.mode;
          if(data.data!==undefined){
            this.id=data.data.id;
          }
          this.route=data.route;
        this.mainFormVisibility=true;
      },
      setVisible(val){
        this.mainFormVisibility=val;
      },
      deleteRow(){
        this.$refs.table.deleteRow(this.selectedItems[0]);
      },
      printOrders(){
        this.$store.dispatch('main/printOrder',{id_pedido:this.selectedItems[0].id})
      }
    },
    created() {
      window.addEventListener('keydown',(e)=> {
        if (e.key === "F2" && !this.expanded ) {
          this.showForm({mode: 'create', data: this.selectedItems[0]})
        }
        if (e.key === "F4") {
          if (this.selectedItems.length === 1 && !this.expanded) {
            this.showForm({mode: 'edit', data: this.selectedItems[0]})
          } else {
            this.$q.notify({
              message: 'debe seleccionar un registro para editar',
              position: 'center',
              color: 'danger',
              timeout: 1000
            });
          }
        }
      })
    }
  }
</script>

