<template>
  <q-page padding>
    <q-card class="bg-red-6 glossy q-pa-md text-white">
      <q-card-section>
        <div class="text-h6"></div>
        <div class="text-subtitle2">Acciones en Usuarios</div>
      </q-card-section>
      <main-table :display-load-state-server="false"  :enabled-actions="{create:true,edit:true,delete:true}" title="Usuarios" @item-selected="selectedItem" :detailed="false" />
    </q-card>
  </q-page>
</template>

<script>
export default {
  name: 'users',
  components:{
    MainTable:()=>import('../components/MainTable'),

  },
  data(){
    return{
      mainFormVisibility:false,
      mode:"",
      selectedItems:[],
      id:0,
      route:this.$route.fullPath

    }
  },methods:{
    selectedItem(val){
      this.selectedItems=val;
    },
    showForm(data){
      this.mode=data.mode;
      if(data.data!==undefined){
        this.id=data.data.id;
      }
      this.route=data.route;
      this.mainFormVisibility=true;
    },
    setVisible(val){
      this.mainFormVisibility=val;
    }
  }
}
</script>
